@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* COLORS */
/*
Speed Blue: 
  #013369
  rgb (1, 51, 105)
White:  
  #ffffff
  rgb (255, 255, 255)
Facemask Gray:  
  #a5acaf
  rgb (165, 172, 175)
Anvil Black:
  #10252c
  rgb (29, 37, 44)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family:  'Inter', sans-serif;
  background: rgb(165, 172, 175);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
